@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
}

body {
  text-align: center;
  line-height: 1.8
}

h1 {
  color: blue;
}

h2 {
  font-size: 14px;
  font-weight: 900;
}

p {
  font-size: 12px;
  color: yellow;
  background-color: black;
  text-indent: 20px;
  text-align: center;
}


img {
  border: 2px solid red;
}

ul {
  padding: 0;
}

ul li {
  text-transform: capitalize;
  word-spacing: 10px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: seagreen;
}

p span {
  text-decoration: line-through;
}

.test_1 {
  margin: 0 auto;
  background-color: red;
  height: 50px;
  width: 980px;
}

.test_2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  height: 50px;
  width: 980px;
}

.test_2_container {
  position: relative;
}


.rounded {
  margin: 70px auto 0 auto;
  height: 300px;
  width: 600px;
}

.rounded-1 {
  margin: 0 3px;
  height: 1px;
  background-color: black;
}

.rounded-2 {
  height: 1px;
  margin: 0 2px;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  background-color: yellow;
}

.rounded-3 {
  height: 1px;
  margin: 0 1px;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  background-color: yellow;
}

.rounded-content {
  height: 288px;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  background-color: yellow;
}

.div_1_container {
  font-size: 0;
}

.div_1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 9999;
}

.div_2 {
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  width: 20%;
  height: 20px;
  background-color: blue;
}

.div_2_container {
  width: 20%;
  height: 20px;
  background-color: aqua;
  margin: 0 auto;
}